.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-info {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-info {
    width: 100%;
    margin-bottom: 5%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-link {
    display: block;
    margin-top: 5px;
    float: right;
    font-size: 0.9em;
}
