<h1>This is the home page</h1>

<img src="https://vetstreet.brightspotcdn.com/dims4/default/920b2de/2147483647/crop/0x0%2B0%2B0/resize/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2F10%2F786f10a72d11e0a0d50050568d634f%2Ffile%2FChinese-Crested-1-645mk062311.jpg" alt="">